li[data-todo-item-completed="true"] label,
li[data-todo-item-completed="true"] .sapMCb .sapMLabelTextWrapper {
    color: #999;
    font-style: italic;
    opacity: 0.7;
    text-decoration: line-through;
}