.todoTitle {
    margin-top: 0;
    font-weight: 500;
}

tr[data-todo-item-completed="true"] .todoTitle {
    color: #999;
    text-decoration: line-through;
    opacity: 0.7;
}

tr[data-todo-item-completed="true"] .sapMText {
    color: #999;
    opacity: 0.7;
}

.sapMListTbl .sapMLIB.sapMListTblRow:hover {
    background-color: rgba(0, 0, 0, 0.04);
    cursor: pointer;
}

.sapMListTbl .sapMLIB.sapMListTblRow:active {
    background-color: rgba(0, 0, 0, 0.06);
}
