.todoTitle {
    margin-top: 1rem;
}

li[data-todo-item-completed="true"] .todoDate,
li[data-todo-item-completed="true"] .todoTitle {
    color: #999;
    font-style: italic;
    opacity: 0.7;
}

li[data-todo-item-completed="true"] .todoTitle {
    text-decoration: line-through;
}
